/* Form.module.css */

.formContainer {
  width: 70vw;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  background-color: #161616;
}
.formContainer p {
  margin-bottom: 30px;
}
.formContainer label,
.formContainer p,
.formContainer h1 {
  color: white;
}

.questionContainer {
  margin-bottom: 20px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 30px;
  display: flex;
  flex-direction: column;
  background-color: #054f05;

  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.questionText {
  font-size: 16px;
  margin-bottom: 10px;
}

.textInput {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.radioContainer {
  display: flex;
  align-items: center;
}

.radioLabel {
  margin-right: 10px;
  font-size: 16px;
}

.radioInput {
  margin-right: 5px;
}
